
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
}

li {
    margin: 10px;
}

.navbar {
   background-color: #333;
    padding: 10px;
  
}

.nav-links {
   list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-links li a:hover {
    background-color: #555;
}